@import "bootstrap";
@import "fontawesome";
$fa-font-path: "assets/fonts";
body {
  padding-top: 23px;
}
.starter-template {
  padding: 40px 15px;
}

.panel-heading .title-text {
  display: inline-block;

}
